ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tenant-brand {
  background-image: var(--navigator-platform-logo);
  padding-bottom: var(--navigator-platform-logo-height);
  width: 100%;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
