.details {
  text-decoration: none;
  padding: 6px 12px;
  display: flex;
  flex-grow: 1;
  transition: padding .2s ease-in-out;
  text-decoration: none;
  max-width: 100%;
  overflow: hidden;
  color: var(--navigator-text-color,var(--navigator-dark-text-color,#fff));

  i {
    display: flex;
    align-items: center;
    margin-right: .5em;
  }

  em {
    font-weight: 1.2em;
    font-style: normal;
    word-break: break-word;
  }

  main {
    display: flex;
    flex-direction: column;
    word-break: break-word;
  }
}

header {
  display: flex;

  &:hover .details {
    color: #fff;
    background-color: var(--link-hover-color);
    padding-left: 22px;
  }
}

.toggle {
  display: flex;
  width: 44px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--navigator-text-color,var(--navigator-dark-text-color,#fff));
}

ul {
  list-style-type: none;
  margin: 0 0 0 12px;
  padding: 0;
  border-top: 1px solid  var(--brand-dark);
  border-left: 1px solid  var(--brand-dark);
}

:host {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
